<!DOCTYPE html>

<footer class="footer">
    <div >
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">服務信箱</h4>
                        <div class="ui inverted link list">
                            <a herf="#" class="item">test@gmail.com</a>
                            <a herf="#" class="item">test@gmail.com</a>
                            <a herf="#" class="item">test@gmail.com</a>
                        </div>

                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">about us</h4>
                        <div class="ui inverted link list">
                            <a herf="#" class="item">1082</a>
                            <a herf="#" class="item">動態網頁設計</a>
                            <a herf="https://github.com/kuanchengLiu/dynamic_website_programming_HW" class="item">Github</a>
                        </div>

                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">開發人員</h4>
                        <div class="ui inverted link list">
                            <a herf="#" class="item">資工三Ｂ 410616271 劉冠呈</a>
                            <a herf="#" class="item">資工三Ａ 410615720邱亞捷</a>
                            <a herf="#" class="item">資工三Ｂ           鐘騰</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
`