<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container-fluid">

        <div class="section-title">
            <h2>Team</h2>
            <h3>Our class Working <span>Team</span></h3>
            <p>Best team here! See what we've done!</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row">

                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="member">
                            <img src="../../../assets/img/958144.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>鍾騰</h4>
                                    <span>資工三Ｂ</span>
                                    <span>Backend Developer</span>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Member Item -->

                    <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
                        <div class="member">
                            <img src="../../../assets/img/992681.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>劉冠呈</h4>
                                    <span>資工三Ｂ</span>
                                    <span>API Connector & Frontend Developer</span>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Member Item -->

                    <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
                        <div class="member">
                            <img src="../../../assets/img/card_after_training.png" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>邱亞捷</h4>
                                    <span>資工三Ｂ</span>
                                    <span>Frontend Developer</span>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Member Item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Section -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Our Newsletter</h4>
                    <p>Enter ur email to subscribe news.</p>
                </div>
                <div class="col-lg-6">
                    <form class="container form-group" (ngSubmit)="test()">
                        <input type="email" name="email">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li>Home</li>
                                <li>About us</li>
                                <li>Services</li>
                                <li>Terms of service</li>
                                <li>Privacy policy</li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Web Design</li>
                                <li>Web Development</li>
                                <li>Product Management</li>
                                <li>Marketing</li>
                                <li>Graphic Design</li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h4>Contact Us</h4>
                            <div>We're located at Providencr University, Taiwan.</div>
                            <div>Feel free to contact us: </div>
                            <div><strong>Phone:</strong> 0800-000-123</div>
                            <div><strong>Email:</strong> info@example.com</div>

                        </div>

                        <div class="col-lg-3 col-md-6 footer-info">
                            <h3>About Community Management System</h3>
                            <p>We are committed to improving the non-circulation of information in
                                the community, and strive to put various services on
                                the website to improve the convenience of the public.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
