.top-bar {
    background-color: red;
}

.top-bar.fixed {
    background-color: green;
}
nav{
    background-color: white;
}
.navBar .container{
    padding-top: 0.8rem;
}

.loginButton .content{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.drop-down > div {
    display: none;
}

.drop-down.active > div {
    display: block;
}
.nav-item > h4{
        display: none;
}
.nav-item.active > h4{
        display: block;

}