<!-- ======= Header ======= -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">ＣＭＳ</a>
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav ml-auto">

            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Announcement">Announcement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/intrduction">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/PaymentItems">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/other">Others</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login & Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/person">personal</a>
            </li>
        </ul>
    </div>
</nav>
<div class="empty-header"></div>
<div id="nav-blank" class="collapse"></div>
