<div class="container contextMargin">
    <div class="ui vertically divided grid">
        <div class="four wide column">
            <div class="four column centered row contextMargin">
                <div class="column">
                    <div class="ui vertical menu column">
                        <a class="item" routerLink="/PaymentItems">繳費清單</a>
                        <a class="item">公設借用表單</a>
                        <a class="item" routerLink="/AccessRecord">人員出入紀錄</a>
                        <a class="item" routerLink="/LaundryService">送洗衣物-表單 </a>
                        <a class="item" routerLink="/ParkingSpace">住戶機車車位申請-表單 </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="left aligned eight wide column">
            <div class="top_news_detail_visual" id="contextMargin">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <h1>公設借用表單</h1>
                        </div>
                        <div class="col">
                            <div class="ui dropdown">
                                <div class="text">公共設施</div><i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item">公共設施1</div>
                                    <div class="item">公共設施2</div>
                                    <div class="item">公共設施3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-7">
                            <h1>All of option</h1>
                            <div>
                                <div class="form-check form-check-inline"><input class="form-check-input" type="radio"
                                        name="inlineRadioOptions" id="inlineRadio1" value="option1"><label
                                        class="form-check-label" for="inlineRadio1">option 1</label></div>
                                <div class="form-check form-check-inline"><input class="form-check-input" type="radio"
                                        name="inlineRadioOptions" id="inlineRadio2" value="option2"><label
                                        class="form-check-label" for="inlineRadio2">option 2</label></div>
                                <div class="form-check form-check-inline"><input class="form-check-input" type="radio"
                                        name="inlineRadioOptions" id="inlineRadio3" value="option3"><label
                                        class="form-check-label" for="inlineRadio3">option 3 </label></div>
                            </div>
                            <hr>
                            <div>
                                <div class="form-check form-check-inline"><input class="form-check-input" type="radio"
                                        name="inlineRadioOptions" id="inlineRadio1" value="option1"><label
                                        class="form-check-label" for="inlineRadio1">option 1</label></div>
                                <div class="form-check form-check-inline"><input class="form-check-input" type="radio"
                                        name="inlineRadioOptions" id="inlineRadio2" value="option2"><label
                                        class="form-check-label" for="inlineRadio2">option 2</label></div>
                            </div>
                            <hr>
                            <div>
                                <div class="form-check form-check-inline"><input class="form-check-input" type="radio"
                                        name="inlineRadioOptions" id="inlineRadio1" value="option1"><label
                                        class="form-check-label" for="inlineRadio1">option 1</label></div>
                            </div>
                            <h2>Time</h2>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
