<div class="container contextMargin">
    <div class="ui stackable vertically divided grid">
        <div class="four wide column">
            <div class="ui fluid vertical menu">
                <a class="item" routerLink="/PaymentItems">繳費清單</a>
                <a class="item active">公設借用表單</a>
                <a class="item" routerLink="/AccessRecord">人員出入紀錄</a>
                <a class="item" routerLink="/LaundryService">送洗衣物-表單 </a>
                <a class="item" routerLink="/ParkingSpace">住戶機車車位申請-表單 </a>
            </div>
        </div>
        <div class="twelve wide column">
            <h1 class="ui dividing header">公設借用表單</h1>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="ui table">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>內容</th>
                        <th>最後編輯</th>
                        <th>編輯者</th>
                        <th>狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of eventItem;">
                        <td>{{ item.createDate }}</td>
                        <td>{{ item.context }}</td>
                        <td>{{ item.lastEditDate }}</td>
                        <td>{{ item.owner }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                </tbody>
            </table>
            <form class="ui form segment" action="/api/v1/borrowFacility/" method="POST">
                <h1 class="ui dividing header">需要借用設備？</h1>
                <div class="field">
                    <label>借用設施</label>
                    <select name="facilityName" class="ui fluid dropdown" required>
                        <option value="">選擇物品</option>
                        <option value="羽球拍">羽球拍</option>
                        <option value="撞球">撞球</option>
                        <option value="健身用品">健身用品</option>
                        <option value="推車">推車</option>
                    </select>
                </div>
                <div class="field">
                    <label>開始時間</label>
                    <input type="date" name="startTime" required>
                </div>
                <div class="field">
                    <label>借用時長</label>
                    <input type="number" name="lengthOfTime" placeholder="10" required>
                </div>
                <button class="ui button" type="submit" (click)="submitForm()">送出</button>
            </form>
        </div>
    </div>
</div>
