<div class="container contextMargin">

    <div class="ui vertically divided grid">
        <div class="four wide column">
            <div class="four column centered row contextMargin">
                <div class="column">
                    <div class="ui vertical menu column">
                        <a class="item" routerLink="/intrduction">社區介紹</a>
                        <a class="item" routerLink="/communityMap">社區概覽圖 </a>
                        <a class="item" routerLink="/escapeRoute">逃生路線 </a>
                        <a class="item" routerLink="/communityMap"> 辦公室服務處地址</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="left aligned eight wide column">
            <div class="top_news_detail_visual" id="contextMargin">
                <h1>社區簡介</h1>
                <hr>
                <div class="ui raised segment ">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Vestibulum
                        tortor
                        quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                        egestas
                        semper.
                        Aenean
                        ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
            </div>
        </div>





    </div>
</div>
