<div class="container contextMargin">
    <div class="ui stackable vertically divided grid">
        <div class="four wide column">
            <div class="ui fluid vertical menu">
                <a class="item active" routerLink="/intrduction">社區介紹</a>
                <a class="item" routerLink="/communityMap">社區概覽圖 </a>
                <a class="item" routerLink="/escapeRoute">逃生路線 </a>
            </div>
        </div>
        <div class="twelve wide column">
            <h1 class="ui dividing header">社區簡介</h1>
            <div class="ui raised segment ">
                <p>A normal community.</p>
            </div>
        </div>
    </div>
</div>
