<div class="container contextMargin">
    <div class="top_news_detail_visual" id="contextMargin">
        <h1>社區簡介</h1>
    </div>
    <div class="row">
        <div class="column">
            <div class="four column centered row contextMargin">
                <div class="column">
                    <div class="ui vertical menu column">
                        <div class="item">
                            <div class="ui input"><input type="text" placeholder="Search..."></div>
                        </div>
                        <div class="item">Home <div class="menu">
                                <a class="active item">搜尋</a>
                                <a class="item">Add</a>
                                <a class="item">Remove</a>
                            </div>
                        </div>
                        <a class="item"><i class="grid layout icon"></i> Browse </a>
                        <a class="item">Messages </a>
                        <div class="ui dropdown item">More
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item"><i class="edit icon"></i> Edit Profile</a>
                                <a class="item"><i class="globe icon"></i> 選擇語言</a>
                                <a class="item"><i class="settings icon"></i> Account Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui raised segment ">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum
                    tortor
                    quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                    egestas
                    semper.
                    Aenean
                    ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            </div>
        </div>

    </div>
</div>