<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url(../../../assets/img/A1551183567.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animated fadeInDown">Welcome to <span>Community Management System</span></h2>
                        <p class="animated fadeInUp">We are committed to improving the non-circulation of information in
                            the community, and strive to put various services on
                            the website to improve the convenience of the public.</p>
                        <a routerLink="/Announcement" class="btn-get-started animated fadeInUp scrollto">Read More</a>
                    </div>
                </div>
            </div>
        </div><a class="carousel-control-prev" routerLink="#heroCarousel" role="button" data-slide="prev"><span
                class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span><span
                class="sr-only">Previous</span></a><a class="carousel-control-next" routerLink="#heroCarousel"
            role="button" data-slide="next"><span class="carousel-control-next-icon icofont-simple-right"
                aria-hidden="true"></span><span class="sr-only">Next</span></a>
    </div>
</section>
