<div class="container contextMargin">
    <div class="ui vertically divided grid">
        <div class="four wide column">
            <div class="four column centered row contextMargin">
                <div class="column">
                    <div class="ui vertical menu column">
                        <a class="item" routerLink="/PaymentItems">繳費清單</a>
                        <a class="item" routerLink="/FacilityBorrowing">公設借用表單</a>
                        <a class="item" routerLink="/AccessRecord">人員出入紀錄</a>
                        <a class="item" routerLink="/LaundryService">送洗衣物-表單 </a>
                        <a class="item">住戶機車車位申請-表單 </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="left aligned eight wide column">
            <div class="top_news_detail_visual" id="contextMargin">
                <h1>住戶機車車位申請-表單</h1>
                <hr>
                <form class="ui form">
                    <div class="field">
                        <label>車位類型</label>
                        <select class="ui fluid dropdown">
                            <option value="">選擇項目</option>
                            <option value="a">汽車</option>
                            <option value="b">機車</option>
                            <option value="b">重型機車</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>希望的位置(選填)</label>
                        <input type="text" name="" placeholder="選填">
                    </div>
                    <div class="ui button" tabindex="0">送出</div>
                </form>

            </div>
        </div>
    </div>
</div>
