<div class="container contextMargin">
    <div class="ui stackable vertically divided grid">
        <div class="four wide column">
            <div class="ui fluid vertical menu">
                <a class="item" routerLink="/PaymentItems">繳費清單</a>
                <a class="item" routerLink="/FacilityBorrowing">公設借用表單</a>
                <a class="item" routerLink="/AccessRecord">人員出入紀錄</a>
                <a class="item" routerLink="/LaundryService">送洗衣物-表單 </a>
                <a class="item active">住戶機車車位申請-表單 </a>
            </div>
        </div>
        <div class="twelve wide column">
            <h1 class="ui dividing header">住戶機車車位申請-表單</h1>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="ui table">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>內容</th>
                        <th>最後編輯</th>
                        <th>編輯者</th>
                        <th>狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of eventItem;">
                        <td>{{ item.createDate }}</td>
                        <td>{{ item.context }}</td>
                        <td>{{ item.lastEditDate }}</td>
                        <td>{{ item.owner }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                </tbody>
            </table>
            <form class="ui form">
                <div class="field">
                    <label>車位類型</label>
                    <select class="ui fluid dropdown">
                        <option value="">選擇項目</option>
                        <option value="a">汽車</option>
                        <option value="b">機車</option>
                        <option value="b">重型機車</option>
                    </select>
                </div>
                <div class="field">
                    <label>希望的位置(選填)</label>
                    <input type="text" name="" placeholder="選填">
                </div>
                <div class="ui button" tabindex="0">送出</div>
            </form>
        </div>
    </div>
</div>
