<div class="container contextMargin">

    <h1>個人資料</h1>
    <hr>

    <table class="ui table">

        <tbody>
            <tr>
                <td>使用者名稱</td>
                <td>RRJJ</td>
            </tr>
            <tr>
                <td>真實姓名</td>
                <td>RRJJ</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>rj123456@gmail.com</td>
            </tr>
            <tr>
                <td>電話</td>
                <td>0987878787</td>
            </tr>
            <tr>
                <td>居住地址</td>
                <td>Location</td>
            </tr>
        </tbody>

    </table>


</div>
