<div class="container contextMargin">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1>公告</h1>
            </div>
            <div>
                <div class="ui search">
                    <div class="ui icon input"><input class="prompt" type="text" placeholder="Common passwords..."><i
                            class="search icon"></i></div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div>
        <div class="ui message">
            <div class="header">Changes in Service </div>
            <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the
                changes. </p>
        </div>
        <div class="ui message">
            <div class="header">Changes in Service </div>
            <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the
                changes. </p>
        </div>
        <div class="ui message">
            <div class="header">Changes in Service </div>
            <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the
                changes. </p>
        </div>
    </div>
</div>
