<div class="container contextMargin">
    <div class="ui vertically divided grid">
        <div class="four wide column">
            <div class="four column centered row contextMargin">
                <div class="column">
                    <div class="ui vertical menu column">
                        <a class="item" routerLink="/PaymentItems">繳費清單</a>
                        <a class="item" routerLink="/FacilityBorrowing">公設借用表單</a>
                        <a class="item"> 人員出入紀錄</a>
                        <a class="item" routerLink="/LaundryService">送洗衣物-表單 </a>
                        <a class="item" routerLink="/ParkingSpace">住戶機車車位申請-表單 </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="left aligned eight wide column">
            <div class="top_news_detail_visual" id="contextMargin">
                <h1>住戶出入紀錄</h1>
                <hr>
                <table class="ui celled striped table">
                    <tbody>
                        <tr>
                            <td>
                                <i></i> B13
                            </td>
                            <td>2020/06/09 12:00 in</td>
                        </tr>
                        <tr>
                            <td>
                                <i></i> B13
                            </td>
                            <td>2020/06/09 12:00 in</td>

                        </tr>
                        <tr>
                            <td>
                                <i></i> B13
                            </td>
                            <td>2020/06/09 12:00 in</td>

                        </tr>
                        <tr>
                            <td>
                                <i></i> B13
                            </td>
                            <td>2020/06/09 12:00 in</td>

                        </tr>
                        <tr>
                            <td>
                                <i></i> B13
                            </td>
                            <td>2020/06/09 12:00 in</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
