<div class="container contextMargin">
    <div class="ui stackable vertically divided grid">
        <div class="four wide column">
            <div class="ui fluid vertical menu">
                <a class="item" routerLink="/PaymentItems">繳費清單</a>
                <a class="item" routerLink="/FacilityBorrowing">公設借用表單</a>
                <a class="item active">人員出入紀錄</a>
                <a class="item" routerLink="/LaundryService">送洗衣物-表單 </a>
                <a class="item" routerLink="/ParkingSpace">住戶機車車位申請-表單 </a>
            </div>
        </div>
        <div class="twelve wide column">
            <h1 class="ui dividing header">住戶出入紀錄</h1>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="ui table">
                <thead>
                    <tr>
                        <th>紀錄時間</th>
                        <th>紀錄內容</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of eventItem;">
                        <td>{{ item.lastEditDate }}</td>
                        <td>{{ item.context }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
