<div class="container contextMargin">
    <div class="ui vertically divided grid">
        <div class="four wide column">
            <div class="four column centered row contextMargin">
                <div class="column">
                    <div class="ui vertical menu column">

                        <a class="item" routerLink="/PaymentItems">繳費清單</a>
                        <a class="item" routerLink="/FacilityBorrowing">公設借用表單</a>
                        <a class="item"> 人員出入紀錄</a>
                        <a class="item" routerLink="/LaundryService">送洗衣物-表單 </a>
                        <a class="item" routerLink="/ParkingSpace">住戶機車車位申請-表單 </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="left aligned eight wide column">

            <div class="top_news_detail_visual" id="contextMargin">
                <h1>住戶出入紀錄</h1>
                <hr>
                <table class="ui five column table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>內容</th>
                            <th>最後編輯</th>
                            <th>編輯者</th>
                            <th>狀態</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>06/09 23:59</td>
                            <td>F13-2</td>
                            <td>06/15</td>
                            <td>Admin</td>
                            <td>in</td>
                        </tr>
                        <tr>
                            <td>06/09 23:59</td>
                            <td>F13-2</td>
                            <td>06/15</td>
                            <td>Admin</td>
                            <td>out</td>
                        </tr>
                        <tr>
                            <td>06/09 23:59</td>
                            <td>F13-2</td>
                            <td>06/15</td>
                            <td>Admin</td>
                            <td>in</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
