<div class="container contextMargin">
    <div class="ui stackable vertically divided grid">
        <div class="four wide column">
            <div class="ui fluid vertical menu">
                <a class="item" routerLink="/PaymentItems">繳費清單</a>
                <a class="item" routerLink="/FacilityBorrowing">公設借用表單</a>
                <a class="item" routerLink="/AccessRecord">人員出入紀錄</a>
                <a class="item active">送洗衣物-表單 </a>
                <a class="item" routerLink="/ParkingSpace">住戶機車車位申請-表單 </a>
            </div>
        </div>
        <div class="twelve wide column">
            <h1 class="ui dividing header">送洗衣物-表單</h1>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="ui table">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>內容</th>
                        <th>最後編輯</th>
                        <th>編輯者</th>
                        <th>狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of eventItem;">
                        <td>{{ item.createDate }}</td>
                        <td>{{ item.context }}</td>
                        <td>{{ item.lastEditDate }}</td>
                        <td>{{ item.owner }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                </tbody>
            </table>
            <form class="ui form segment" action="/api/v1/EntrustLaundryToWash/" method="POST">
                <h1 class="ui dividing header">需要洗衣？</h1>
                <div class="field">
                    <label>送洗項目</label>
                    <select name="type" class="ui fluid dropdown" required>
                        <option value="">選擇項目</option>
                        <option value="水洗">水洗</option>
                        <option value="乾洗">乾洗</option>
                    </select>
                </div>
                <div class="field">
                    <label>送洗備註(選填)</label>
                    <input type="text" name="remark" placeholder="衣服很貴">
                </div>
                <div class="field">
                    <label>收衣服時間</label>
                    <input type="date" name="returnClothesTime" required>
                </div>
                <button class="ui button" type="submit" (click)="submitForm()">送出</button>
            </form>
        </div>
    </div>
</div>
