<div class="container contextMargin">
    <div class="ui vertically divided grid">
        <div class="four wide column">
            <div class="four column centered row contextMargin">
                <div class="column">
                    <div class="ui vertical menu column">
                        <a class="item" routerLink="/PaymentItems">繳費清單</a>
                        <a class="item" routerLink="/FacilityBorrowing">公設借用表單</a>
                        <a class="item" routerLink="/AccessRecord">人員出入紀錄</a>
                        <a class="item">送洗衣物-表單 </a>
                        <a class="item" routerLink="/ParkingSpace">住戶機車車位申請-表單 </a></div>
                </div>
            </div>
        </div>
        <div class="left aligned eight wide column">
            <div class="top_news_detail_visual" id="contextMargin">
                <h1>送洗衣物-表單</h1>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-7">
                            <h1>All of option</h1>
                            <div>
                                <div class="form-check form-check-inline"><input class="form-check-input" type="radio"
                                        name="inlineRadioOptions" id="inlineRadio1" value="option1"><label
                                        class="form-check-label" for="inlineRadio1">option 1</label></div>
                                <div class="form-check form-check-inline"><input class="form-check-input" type="radio"
                                        name="inlineRadioOptions" id="inlineRadio2" value="option2"><label
                                        class="form-check-label" for="inlineRadio2">option 2</label></div>
                                <div class="form-check form-check-inline"><input class="form-check-input" type="radio"
                                        name="inlineRadioOptions" id="inlineRadio3" value="option3"><label
                                        class="form-check-label" for="inlineRadio3">option 3 </label></div>
                            </div>

                            <h2>Time</h2>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
