<div class="container contextMargin">

    <h1 style="margin-left: 10px;">物業的多社區管理</h1>
    <hr>
    <div>
        <div class="ui visible message">
            <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the
                changes. </p>
        </div>
        <div class="ui visible message">
            <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the
                changes. </p>
        </div>
        <div class="ui visible message">
            <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the
                changes. </p>
        </div>
    </div>
</div>
