<div style="padding: 50px;">
    <h1 style="margin-left: 10px;">物業的多社區管理</h1>
    <hr>
    <table>
        <!-- 這邊用*ngFor去跑迴圈-->
        <tr>
            <div id=it1>
                <td>1 test1</td>
            </div>
        </tr>
        <tr>
            <div id=it1>
                <td>2 test1</td>
            </div>
        </tr>
        <tr>
            <div id=it1>
                <td>3 test1</td>
            </div>
        </tr>
        <tr>
            <div id=it1>
                <td>4 test1</td>
            </div>
        </tr>


    </table>
</div>