<div class="container contextMargin">
    <div class="ui stackable vertically divided grid">
        <div class="four wide column">
            <div class="ui fluid vertical menu">
                <a class="item active">繳費清單</a>
                <a class="item" routerLink="/FacilityBorrowing">公設借用表單</a>
                <a class="item" routerLink="/AccessRecord">人員出入紀錄</a>
                <a class="item" routerLink="/LaundryService">送洗衣物-表單 </a>
                <a class="item" routerLink="/ParkingSpace">住戶機車車位申請-表單 </a>
            </div>
        </div>
        <div class="twelve wide column">
            <h1 class="ui dividing header">繳費清單</h1>
            <table class="ui five column table">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>內容</th>
                        <th>最後編輯</th>
                        <th>編輯者</th>
                        <th>狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>06/09</td>
                        <td>電話費 1000</td>
                        <td>06/15</td>
                        <td>Admin</td>
                        <td>已繳納</td>
                    </tr>
                    <tr>
                        <td>06/09</td>
                        <td>電費 10000</td>
                        <td>06/15</td>
                        <td>Admin</td>
                        <td>已繳納</td>
                    </tr>
                    <tr>
                        <td>06/09</td>
                        <td>水費 1000000</td>
                        <td>06/15</td>
                        <td>Admin</td>
                        <td>已繳納</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
