<div class="container contextMargin">
    <div class="ui vertically divided grid">
        <div class="four wide column">
            <div class="four column centered row contextMargin">
                <div class="column">
                    <div class="ui vertical menu column">
                        <a class="item">繳費清單</a>
                        <a class="item" routerLink="/FacilityBorrowing">公設借用表單</a>
                        <a class="item" routerLink="/AccessRecord">人員出入紀錄</a>
                        <a class="item" routerLink="/LaundryService">送洗衣物-表單 </a>
                        <a class="item" routerLink="/ParkingSpace">住戶機車車位申請-表單 </a></div>
                </div>
            </div>
        </div>
        <div class="left aligned eight wide column">
            <div class="top_news_detail_visual" id="contextMargin">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <h1>繳費清單</h1>
                        </div>
                        <div class="col">
                            <div class="ui dropdown">
                                <div class="text">水費</div><i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item">電費</div>
                                    <div class="item">房租</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <table class="ui celled striped table">
                    <tbody>
                        <tr>
                            <td class="collapsing">
                                <i></i> 六月份房租
                            </td>
                            <td>8000</td>
                            <td class="right aligned collapsing">已繳納</td>
                        </tr>
                        <tr>
                            <td>
                                <i></i> 五月份房租
                            </td>
                            <td>8000</td>
                            <td class="right aligned">已繳納</td>
                        </tr>
                        <tr>
                            <td>
                                <i></i> 四月份房租
                            </td>
                            <td>8000</td>
                            <td class="right aligned">已繳納</td>
                        </tr>
                        <tr>
                            <td>
                                <i></i> 三月份房租
                            </td>
                            <td>8000</td>
                            <td class="right aligned">已繳納</td>
                        </tr>
                        <tr>
                            <td>
                                <i></i> 二月份房租
                            </td>
                            <td>8000</td>
                            <td class="right aligned">已繳納</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
