.body{
    margin-top: 1rem
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #428bca;
}

a:hover {
  color: #6aa3d5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #428bca;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #5697d0;
  color: #fff;
}