<div class="container contextMargin">
    <div class="top_news_detail_visual" id="contextMargin">
        <h1>逃生路線</h1>
    </div>
    <div class="ui vertically divided grid">
        <div class="four wide column">
            <div class="four column centered row contextMargin">
                <div class="column">
                    <div class="ui vertical menu column">
                        <a class="item" routerLink = "/intrduction">社區介紹</a>
                        <a class="item" routerLink = "/communityMap">社區概覽圖</a>
                        <a class="item" routerLink = "/escapeRoute">逃生路線 </a>
                        <a class="item"> 辦公室服務處地址</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="left aligned eight wide column">
            <div class="ui raised segment ">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.5785710627524!2d120.66146831497397!3d24.15143387925464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d994250be8d%3A0x1080f4eb496b0ecf!2zTW8tTW8tUGFyYWRpc2Ug5Y-w5Lit5Yuk576O54mn5aC0!5e0!3m2!1szh-TW!2stw!4v1590669106652!5m2!1szh-TW!2stw"
                    width="500" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>

    </div>
</div>